<header>
  <nav>
    <ul>
      <a href="{{ site.baseurl }}/classes">
        <li>Classes</li>
      </a>
      <a href="{{ site.baseurl }}/staff">
        <li>Staff</li>
      </a>
      <a href="{{ site.baseurl }}/blog">
        <li>News</li>
      </a>
    </ul>
    <div class="logo-container">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/LG_MMA_logo_ko.png" class="logo" alt="logo">
      </a>
    </div>
    <span class="nav-button-container">
      <form class="give-forms" action="https://www.paypal.com/cgi-bin/webscr"
            method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick"><br>
        <input type="hidden" name="hosted_button_id" value="2MBTQ4EVVFAS2"><br>
        <input type="submit" class="donate-button"
               value="GIVE" border="0" name="submit"
               alt="GIVE">
        <!--<br>-->
        <!--<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"><br>-->
      </form>
      <!--<a href="{{ site.baseurl }}/donate">-->
        <!--<button>GIVE</button>-->
      <!--</a>-->
    </span>
  </nav>
</header>
